<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Game Portal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>GameStream Admin Portal</h1>
    <h2>Customers</h2>
    <div class="buttons-container">
        <a href="/updateCustomer" class="button">
            <div class="button-title">Customers</div>
        </a>
    </div>
    <h2>Games & Studios</h2>
    <div class="buttons-container">
        <!--<a href="viewGames.html" class="button">
            <div class="button-title">Games</div>
        </a>
        -->
        <a href="/games" class="button">
            <div class="button-title">Game Management</div>
        </a>
        <a href="/genres" class="button">
            <div class="button-title">Genres</div>
        </a>
        <a href="/games_genres" class="button">
            <div class="button-title">Games-Genres</div>
        </a>
        <a href="/developers" class="button">
            <div class="button-title">Developers</div>
        </a>
    </div>
    <h2>Data</h2>
    <div class="buttons-container">
        <a href="/subscriptions" class="button">
            <div class="button-title">Subscriptions</div>
        </a>
        <a href="/streams" class="button">
            <div class="button-title">Streaming</div>
        </a>
        <!--
        <a href="payments.html" class="button">
            <div class="button-title">Payments</div>
        </a>
        -->
    </div>
</body>
</html>

