
h1{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #285381;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.form-section {
    display: none;
    margin-top: 20px;
}
.return-button {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    padding: 10px 20px; 
    border: 2px solid #fc2424; 
    background-color: rgb(241, 79, 79); 
    color: #fcfdff; 
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}
.return-button:hover {
    background-color: #ff0000; 
    color: rgb(255, 255, 255); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    min-height: 100vh;
    padding-top: 20px; 
    margin-left: 20px;
}
h1 {
    margin-bottom: 20px; 
    font-size: 56px;
    text-align: center; 
    width: 100%;
}
h2{
    text-align: left;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}
.button {
    display: block;
    width: 100%;
    max-width: 300px;
    background-color: #376aa1;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 10px 0;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0c253f;
}
.button-title {
    font-size: 24px;
    font-weight: bold;
}
.button-subtitle {
    font-size: 16px;
    opacity: 0.8;
}